<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{>links}}
  </head>
  <body>
    <!-- Navbar -->
    {{>navbar}}

    <!-- Hero container -->
    <div class="fluid-container main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side header -->
            <div class="col-md-12 main_header_right align-items-center">
              <figure>
                <img src="https://static.vecteezy.com/system/resources/previews/000/635/379/non_2x/404-error-page-not-found-vector-illustration-background.jpg"
                   alt="fluid image" class="img-fluid">
              </figure>
              <!-- <h1>Oops!! page not found.</h1> -->
              <a href="/">
                <button type="button" name="button">Go Back</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{>footer}}
  </body>
</html>
