<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{>links}}
  </head>
  <body>
    <!-- Navbar -->
    {{>navbar}}

    <!-- Hero container -->
    <div class="fluid-container main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side header -->
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <!-- <figure>
                <img src="https://cdn4.vectorstock.com/i/thumb-large/58/53/punjabi-businessman-vector-33835853.jpg"
                   alt="fluid image" class="img-fluid">
              </figure> -->
              <figure>
                <img src="https://static.vecteezy.com/system/resources/thumbnails/000/138/891/small/young-man-with-glasses-and-flannel-shirt-vector.jpg"
                   alt="fluid image" class="img-fluid">
              </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>engineering undergraduate at <span> <a href="http://nitrr.ac.in/" target="_blank">NIT Raipur<a></span></h1>
              <a href="https://github.com/choudhary-sameer" target="_blank">
                <button type="button" name="button">about me</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{>footer}}
  </body>
</html>
